.profile {
  position: absolute;
  padding: 2rem 0.5rem;
  font-size: 1rem;
  width: 20rem;
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
  left: -17rem;
  z-index: 222222222222;
  background-color: var(--main-bg-color);
  margin-top: 20px;
}
.profile_account {
  display: flex;
  gap: 2rem;
  padding: 1.5rem;
  align-items: center;
}
.profile_account_img {
  border-radius: 50%;
}
.profile_account_infor {
  line-height: 0.3rem;
  text-align: left;
}

.profile_account_infor p {
  font-weight: 600;
  margin-bottom: 12px;
}
.profile_menu_one_item {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: .5rem 1.5rem;
  transition: all 0.3s ease-in;
}
.profile_menu_one_item:hover {
  background-color: var(--icons-color);
  color: var(--shadow-dark-color);
  border-radius: 0.3rem;
}
